extends layout

block styles
    link(rel="stylesheet", href=require("../css/about.sass"), type="text/css")

block content
    header
        h1 Intro
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
          | modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
          | dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
        p.extra
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
          | modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
          | dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
          span.extra This is usually hidden, unless on very large screen.
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
          | modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
          | dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.

    section#timeline
        article
            img(src=require("../img/building-1.jpg"), alt="First Building")
            h1 1990 - 1995
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
                modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
                dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
                
        article
            img(src=require("../img/building-2.jpg"), alt="Second Building")
            h1 1996 - 2005
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
                modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
                dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
                
        article
            img(src=require("../img/building-3.jpg"), alt="Third Building")
            h1 2005 - 2017
            p.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
                modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
                dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
    
    footer
        h1 Conclusion
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
            modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
            dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, 
            modi, facere. Necessitatibus saepe incidunt, accusamus modi fugit velit 
            dolorum unde error esse excepturi qui enim illum repellendus possimus et, quidem.
