extends layout

block styles
    link(rel="stylesheet", href=require("../css/team.sass"), type="text/css")

block content
    header
        h1 The Team
        p.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
            eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
            nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
            adipisci vitae.

    section#team
        article
            figure
                img(src=require("../img/profile.png"), alt="Name1 Profile Image")
                figcaption Name1
            p.left.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
                eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
                nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
                adipisci vitae.
            p.right.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
                eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
                nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
                adipisci vitae.
            ul
                li Email
                li Twitter
                li LinkedIn

        article
            figure
                img(src=require("../img/profile.png"), alt="Name2 Profile Image")
                figcaption Name2
            p.left.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
                eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
                nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
                adipisci vitae.
            p.right.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
                eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
                nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
                adipisci vitae.
            ul
                li Email
                li Twitter
                li LinkedIn
                
        article
            figure
                img(src=require("../img/profile.png"), alt="Name3 Profile Image")
                figcaption Name3
            p.left.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
                eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
                nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
                adipisci vitae.
            p.right.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus hic 
                eaque nisi asperiores distinctio obcaecati, facilis nesciunt dolore ad 
                nihil laudantium accusantium, odit dicta? Cumque consequuntur, ea fugiat 
                adipisci vitae.
            ul
                li Email
                li Twitter
                li LinkedIn

        article.invitation
            p: i Your spot?
            a(href="/#register"): button(type="button") Register
